<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inns</title>
  </head>
  <body>
    <div id="app">
      <h1>Inns App</h1>
      <input
        type="text"
        v-model="searchText"
        placeholder="Pesquise sua pousada"
      />
      <br />

      <ul v-if="seeList">
        <div v-if="listResult.length <= 0">Nenhum contato encontrado.</div>
        <li v-for="inn in listResult">
          <div>
            <h3>{{inn.brandName}}</h3>
            Telefone: {{inn.phone}} <br />
            E-mail: {{inn.email}} <br />
            {{inn.city}}, {{inn.state}} <br />
            Aceita pets: {{inn.pets}} <br />
            <button v-on:click="getInn(inn.id)">Acessar Pousada</button>
          </div>
        </li>
      </ul>

      <div v-if="innSelect">
        <h2>{{innSelect.brand_name}} | Rating: {{innSelect.nota || "--"}}</h2>
        <strong>Telefone:</strong> {{innSelect.phone}} |
        <strong>Email:</strong> {{innSelect.email}} <br />
        <strong>Endereço:</strong> {{innSelect.address}},
        {{innSelect.neighborhood}}, {{innSelect.city}} - {{innSelect.state}}
        <br />
        <strong>Metodos de pagamento:</strong> {{innSelect.payment_options}} |
        <strong>Pets:</strong> {{innSelect.pets}} <br />
        <strong>Politicas:</strong> {{innSelect.policies}} <br />
        <strong>Descrição:</strong> {{innSelect.description}} <br />
        <button v-on:click="backList">Lista de Pousadas</button>

        <h4>Verificar disponibilidade:</h4>
        <form v-on:submit.prevent="checkAvailability()">
          <label for="room_id">Selecione o quarto:</label>
          <select v-model="reservation.roomId">
            <option v-for="room in roomList" :value="room.id">
              {{room.name}}
            </option>
          </select>
          <label for="start_date">Data de entrada:</label>
          <input type="date" v-model="reservation.startDate" /><br />
          <label for="end_date">Data de saída:</label>
          <input type="date" v-model="reservation.endDate" /><br />
          <label for="guest_number">Data de saída:</label>
          <input type="number" v-model="reservation.guestNumber" /><br />
          <button type="submit">Verificar</button>
        </form>
        <div v-if="errorsFull">
          <p v-for="error in errorsFull">{{error}}</p>
        </div>
        <div v-if="validationSelect">
          <p><strong>Reserva disponível</strong></p>
          <br />
          Data de entrada: {{validationSelect.start_date}} | Data de saída:
          {{validationSelect.end_date}} <br />
          Hóspedes: {{validationSelect.guest_number}} | Valor:
          {{validationSelect.total_value}}
        </div>

        <ul>
          <li v-for="room in roomList">
            <div>
              <h3>{{room.name}}</h3>
              <strong>Detalhes: </strong> <br />
              Tamanho: {{room.dimension}}m² | Capacidade: {{room.capacity}}
              <br />
              Banheiro: {{room.bathroom}} | Varanda: {{room.balcony}} |
              Ar-condicionado: {{room.arConditioning}} <br />
              Tv: {{room.tv}} | Cofre: {{room.safe}} | Guarda-roupa:
              {{room.wardrobe}} <br />
            </div>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
  </body>
</html>
